
.app-container{
  padding: 10px;
}
.main-container{
  background: #ebf2fd;
}
//字体
body,
.el-card{
   font-size: 14px;
   color: #333;
}
//card 卡片
.el-card{
  .el-card__header{
    line-height: 28px;
  }
  .el-card__header,.el-card__body{
    padding: 5px 10px;
  }
}
//表单
.el-form{
  .el-form-item,
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
    margin-bottom: 5px;
  }
}
//布局

.el-row+.el-row{
  margin-top: 5px;
}
//导航
.el-submenu .el-menu-item{
  height: 40px;
  line-height: 40px;
}
